set interfaces vti vti0 address {{ cloud_vpn_responder_tunnel_ip }}/30

set vpn ipsec esp-group {{ cloud_vpn_name }}-esp-group compression disable
set vpn ipsec esp-group {{ cloud_vpn_name }}-esp-group lifetime 3600
set vpn ipsec esp-group {{ cloud_vpn_name }}-esp-group mode tunnel
set vpn ipsec esp-group {{ cloud_vpn_name }}-esp-group pfs enable
set vpn ipsec esp-group {{ cloud_vpn_name }}-esp-group proposal 1 encryption aes128
set vpn ipsec esp-group {{ cloud_vpn_name }}-esp-group proposal 1 hash sha1

set vpn ipsec ike-group {{ cloud_vpn_name }}-ike-group dead-peer-detection action restart
set vpn ipsec ike-group {{ cloud_vpn_name }}-ike-group dead-peer-detection interval 15
set vpn ipsec ike-group {{ cloud_vpn_name }}-ike-group dead-peer-detection timeout 30
set vpn ipsec ike-group {{ cloud_vpn_name }}-ike-group lifetime 28800
set vpn ipsec ike-group {{ cloud_vpn_name }}-ike-group proposal 1 dh-group 2
set vpn ipsec ike-group {{ cloud_vpn_name }}-ike-group proposal 1 encryption aes128
set vpn ipsec ike-group {{ cloud_vpn_name }}-ike-group proposal 1 hash sha1

set vpn ipsec ipsec-interfaces interface {{ cloud_vpn_responder_outside_interface }}

set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} authentication id {{ cloud_vpn_responder_public_ip }}
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} authentication mode pre-shared-secret
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} authentication pre-shared-secret {{ cloud_vpn_psk }}
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} connection-type respond
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} ike-group {{ cloud_vpn_name }}-ike-group
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} local-address {{ cloud_vpn_responder_private_ip }}
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} vti bind vti0
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} vti esp-group {{ cloud_vpn_name }}-esp-group

set vpn ipsec nat-traversal enable

set protocols static interface-route {{ cloud_vpn_initiator_cidr }} next-hop-interface vti0 distance 1
