set interfaces vti vti0 address {{ cloud_vpn_responder_tunnel_ip }}/30

set vpn ipsec esp-group {{ cloud_vpn_name }} compression disable
set vpn ipsec esp-group {{ cloud_vpn_name }} lifetime 3600
set vpn ipsec esp-group {{ cloud_vpn_name }} mode tunnel
set vpn ipsec esp-group {{ cloud_vpn_name }} pfs enable
set vpn ipsec esp-group {{ cloud_vpn_name }} proposal 1 encryption aes128
set vpn ipsec esp-group {{ cloud_vpn_name }} proposal 1 hash sha1

set vpn ipsec ike-group {{ cloud_vpn_name }} dead-peer-detection action restart
set vpn ipsec ike-group {{ cloud_vpn_name }} dead-peer-detection interval 15
set vpn ipsec ike-group {{ cloud_vpn_name }} dead-peer-detection timeout 30
set vpn ipsec ike-group {{ cloud_vpn_name }} lifetime 28800
set vpn ipsec ike-group {{ cloud_vpn_name }} proposal 1 dh-group 2
set vpn ipsec ike-group {{ cloud_vpn_name }} proposal 1 encryption aes128
set vpn ipsec ike-group {{ cloud_vpn_name }} proposal 1 hash sha1

set vpn ipsec ipsec-interfaces interface {{ cloud_vpn_responder_outside_interface }}

set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} authentication id {{ cloud_vpn_responder_public_ip }}
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} authentication mode pre-shared-secret
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} authentication pre-shared-secret {{ cloud_vpn_psk }}
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} connection-type initiate
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} ike-group {{ cloud_vpn_name }}
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} local-address {{ cloud_vpn_responder_private_ip }}
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} vti bind vti0
set vpn ipsec site-to-site peer {{ cloud_vpn_initiator_public_ip }} vti esp-group {{ cloud_vpn_name }}

set vpn ipsec nat-traversal enable

set protocols bgp {{ cloud_vpn_responder_bgp_asn }} neighbor {{ cloud_vpn_initiator_tunnel_ip }} ebgp-multihop 2
set protocols bgp {{ cloud_vpn_responder_bgp_asn }} neighbor {{ cloud_vpn_initiator_tunnel_ip }} remote-as {{ cloud_vpn_initiator_bgp_asn }}
set protocols bgp {{ cloud_vpn_responder_bgp_asn }} neighbor {{ cloud_vpn_initiator_tunnel_ip }} soft-reconfiguration inbound
set protocols bgp {{ cloud_vpn_responder_bgp_asn }} neighbor {{ cloud_vpn_initiator_tunnel_ip }} timers holdtime 30
set protocols bgp {{ cloud_vpn_responder_bgp_asn }} neighbor {{ cloud_vpn_initiator_tunnel_ip }} timers keepalive 30
set protocols bgp {{ cloud_vpn_responder_bgp_asn }} network {{ cloud_vpn_responder_cidr }}
