ansible_host: {{ cloud_vpn_peer_b_mgmt_ip }}
ansible_user: {{ cloud_vpn_peer_b_user }}
{% if cloud_vpn_peer_b_password is defined %}
ansible_ssh_pass: {{ cloud_vpn_peer_b_password }}
{% endif %}
{% if cloud_vpn_peer_b_ssh_private_key_file is defined %}
ansible_ssh_private_key_file: {{ cloud_vpn_peer_b_ssh_private_key_file }}
{% endif %}
ansible_connection: network_cli
ansible_network_os: vyos
