- hosts: peer_b
  gather_facts: yes

  tasks:
    - ec2_vpc_vpn_facts:
        aws_access_key: "{{ '{{' }} hostvars['peer_a']['aws_access_key'] {{ '}}' }}"
        aws_secret_key: "{{ '{{' }} hostvars['peer_a']['aws_secret_key'] {{ '}}' }}"
        region: "{{ '{{' }} hostvars['peer_a']['aws_region'] {{ '}}' }}"
        filters:
          tag:Name: {{ cloud_vpn_name }}-vpn
      register: out
      delegate_to: localhost

    - set_fact:
        cloud_vpn_peer_a_public_ip: "{{ '{{' }} out['vpn_connections'][0]['vgw_telemetry'][0]['outside_ip_address'] {{ '}}' }}"
      delegate_to: localhost

    - set_fact:
        cloud_vpn_peer_a_failover_ip: "{{ '{{' }} out['vpn_connections'][0]['vgw_telemetry'][1]['outside_ip_address'] {{ '}}' }}"
      delegate_to: localhost

    - vyos_config:
        src: peer_b.config
