- hosts: responder
  gather_facts: no

  tasks:
    - cloudformation:
        aws_access_key: "{{ '{{' }} aws_access_key {{ '}}' }}"
        aws_secret_key: "{{ '{{' }} aws_secret_key {{ '}}' }}"
        region: "{{ '{{' }} aws_region {{ '}}' }}"
        stack_name: {{ cloud_vpn_name }}-stack
        template: responder.provision
