AWSTemplateFormatVersion: '2010-09-09'
Resources:
  vpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: {{ cloud_vpn_responder_vpc_cidr }}
      Tags:
        - Key: Name
          Value: {{ cloud_vpn_name }}-responder-vpc
  subnet:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId:
        Ref: vpc
      CidrBlock: {{ cloud_vpn_responder_cidr }}
  privateroutetable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId:
        Ref: vpc
      Tags:
        - Key: Name
          Value: {{ cloud_vpn_name }}-responder-privateroutetable
  subnetroutetableassociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId:
        Ref: privateroutetable
      SubnetId:
        Ref: subnet
