ansible_host: {{ cloud_network_interconnect_peer_b_mgmt_ip }}
ansible_user: {{ cloud_network_interconnect_peer_b_user }}
ansible_ssh_pass: {{ cloud_network_interconnect_peer_b_password }}
ansible_connection: network_cli
