ansible_host: localhost
ansible_connection: local
aws_access_key: {{ cloud_network_interconnect_aws_access_key }}
aws_secret_key: {{ cloud_network_interconnect_aws_secret_key }}
aws_region: {{ cloud_network_interconnect_aws_region }}
