- hosts: localhost
  connection: local
  gather_facts: no

  tasks:
    - cloudformation:
        stack_name: {{ cloud_network_interconnect_name }}-stack
        template: peer_a.config

    - ios_config:
        src: peer_b.config
