AWSTemplateFormatVersion: '2010-09-09'
Resources:
  customergw:
    Type: AWS::EC2::CustomerGateway
    Properties:
      Type: ipsec.1
      BgpAsn: {{ cloud_vpn_initiator_bgp_asn }}
      IpAddress: {{ cloud_vpn_initiator_public_ip }}
      Tags:
        - Key: Name
          Value: {{ cloud_vpn_name }}-responder-customergw
  vpngw:
    Type: AWS::EC2::VPNGateway
    Properties:
      Type: ipsec.1
      Tags:
        - Key: Name
          Value: {{ cloud_vpn_name }}-responder-vpngw
  vpngwattachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId: {{ cloud_vpn_responder_vpc_id }}
      VpnGatewayId:
        Ref: vpngw
  vpn:
    Type: AWS::EC2::VPNConnection
    Properties:
      Type: ipsec.1
      StaticRoutesOnly: true
      CustomerGatewayId:
        Ref: customergw
      VpnGatewayId:
        Ref: vpngw
      VpnTunnelOptionsSpecifications:
        - PreSharedKey: {{ cloud_vpn_psk }}
          TunnelInsideCidr: {{ cloud_vpn_tunnel_cidr }}
        - PreSharedKey: {{ cloud_vpn_psk }}
          TunnelInsideCidr: {{ cloud_vpn_tunnel_failover_cidr }}
      Tags:
        - Key: Name
          Value: {{ cloud_vpn_name }}-responder-vpn
  vpnconnectionroute:
    Type: AWS::EC2::VPNConnectionRoute
    Properties:
      DestinationCidrBlock: {{ cloud_vpn_initiator_cidr }}
      VpnConnectionId:
        Ref: vpn
  vpngwroutepropagation:
    Type: AWS::EC2::VPNGatewayRoutePropagation
    DependsOn: vpngwattachment
    Properties:
      RouteTableIds:
        - {{ cloud_vpn_responder_route_table_id }}
      VpnGatewayId:
        Ref: vpngw
